.ng-invalid .steps-indicator li:not(.editing) a {
  cursor: not-allowed;
  color: #d1d1d1;
  &:before {
    background-color: #d1d1d1;
  }
}
.osc-form {
  .steps-indicator {
    li {
      // Set margin-bottom and min-width so the indicators wrap at mobile widths.
      margin-bottom: 20px;
      min-width: 75px;
      padding-top: 15px;
      a {
        text-transform: none;
        font-weight: 500;
      }
      &.visited a:before {
        background-color: #3f9c35;
      }
    }
  }
  .steps {
    clear: both;
  }
  .review-step {
    h3 {
      font-size: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d1d1d1;
      .edit-action {
        .pull-right();
        .small();
        margin-top: 5px;
      }
    }
    dt {
      font-weight: normal;
      color: #393f44;
    }
  }
}

.wizard-bottom {
  border-top: 1px solid @connector-color;
  width: 100%;
}
.wizard-buttons {
  padding: 20px 0;
  clear: both;
  .previous-next-btns {
    text-align: center;
    @media(min-width: @screen-xs-min) { 
      float: right;
      text-align: right;
    };
  }
  .create-cancel-btns {
    display: block;
    margin-top: 20px;
    text-align: center;
    @media(min-width: @screen-xs-min) { 
      margin-top: 0;
      text-align: left;
    };
  }
}
