<div>
  <!--
    Put the wizard steps indicator at the top. It defaults to the bottom.
    See https://github.com/mgonto/angular-wizard/issues/128
  -->
  <ul class="steps-indicator steps-{{getEnabledSteps().length}}" ng-if="!hideIndicators">
    <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed, visited: step.visited && !step.selected}" ng-repeat="step in getEnabledSteps()">
      <!-- Set step.visited in the view since we can't change the controller code. -->
      <span ng-if="step.visited = step.visited || step.selected"></span>
      <a ng-click="goTo(step)">{{step.title || step.wzTitle}}</a>
    </li>
  </ul>
  <div class="steps" ng-transclude></div>
</div>
