<div class="tile tile-image tile-click label-tags" id="" ng-attr-title="{{imageStream | imageStreamTagAnnotation : 'description' : imageTag}}">
  <div class="tile-table">
    <div class="tile-table-cell image-icon">
      <custom-icon resource="imageStream" kind="image" tag="imageTag" title="{{imageStream.metadata.name}}:{{imageTag}}"></custom-icon>
    </div>
    <div class="tile-table-cell">
      <h3>
        <a class="tile-target" ng-href="{{imageStream | createFromImageURL : imageTag : project}}">{{imageStream.metadata.name}}:{{imageTag}}</a>
      </h3>
      <div ng-if="imageStream | imageStreamTagAnnotation : 'provider' : imageTag">
        <label style="margin-right: 5px;">Provider:</label>
        {{imageStream | imageStreamTagAnnotation : 'provider' : imageTag}}
      </div>
      <!-- Only show the namespace if it's not in the shared openshift namespace -->
      <div ng-if="imageStream.metadata.namespace !== 'openshift'">
        <label style="margin-right: 5px;">Namespace:</label>
        {{imageStream.metadata.namespace}}
      </div>
      <div ng-if="version && version !== imageTag">
        <label style="margin-right: 5px;">Version:</label>
        {{version}}
      </div>
      <span ng-repeat="tag in (imageStream | imageStreamTagTags : imageTag)" class="tag small text-muted">
        {{tag}}
      </span>
    </div>
  </div>
</div>
