<div ng-controller="ProjectController">
  <div ng-controller="CreateController" class="add-to-project">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="{{projectName | projectOverviewURL}}">{{(project | displayName) || projectName}}</a></li>
        <li class="active"><strong>Add to Project</strong></li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <p ng-if="emptyCatalog && !loaded">Loading...</p>

          <div ng-if="emptyCatalog && loaded && !nonBuilderImages.length" class="empty-state-message">
            <h2 class="text-center">No images or templates.</h2>

            <p class="gutter-top">
              No images or templates are loaded for this project or the shared
              <code>openshift</code> namespace. An image or template is
              required to add content.
            </p>

            <p>
              To load an image stream or template from a file, run the command,
              <div><code>oc create -f &lt;filename&gt; -n {{projectName}}</code></div>
            </p>

            <p><a href="{{projectName | projectOverviewURL}}">Back to {{(project | displayName) || projectName}}</a></p>
          </div>

          <!-- Show an abbreviated message if only non-builders exist in the project.
               We show a link to view the non-builder images below. -->
          <p ng-if="emptyCatalog && loaded && nonBuilderImages.length">No builder images or templates.</p>

          <div ng-if="!emptyCatalog">
            <h1>Select Image or Template</h1>

            <p>Choose from instant apps, web frameworks, databases, and other
              components. You'll be prompted for additional information on the
              next page.</p>
            <div ng-repeat="tag in categoryTags" ng-if="templatesByCategory[tag] || builderImagesByCategory[tag]">
              <h3>{{categoryLabels[tag] || tag}}</h3>
              <div class="catalog">
                <!-- Show builder images first. -->
                <catalog-image
                  image-repo="builder.imageRepo"
                  image-tag="builder.imageRepoTag"
                  project="projectName"
                  version="builder.version"
                  ng-repeat="builder in builderImagesByCategory[tag] | toArray | orderBy : ['name', 'imageRepo.metadata.namespace']">
                </catalog-image>

                <!-- Show any templates. -->
                <catalog-template
                  template="template"
                  project="projectName"
                  ng-repeat="template in templatesByCategory[tag] | toArray | orderBy : ['metadata.name', 'metadata.namespace']">
                </catalog-template>
              </div>
            </div>
          </div>

          <!-- Don't show images without the builder tag by default, by allow the user to pick one. -->
          <div ng-if="nonBuilderImages.length" click-to-reveal link-text="Don't see the image you are looking for?" class="gutter-bottom">
            <h2>Additional Images</h2>
            <div class="gutter-bottom">
              <span class="small pficon-layered">
                <span class="pficon pficon-warning-triangle"></span>
                <span class="pficon pficon-warning-exclamation"></span>
              </span>
              Some images in this list may not be able to build source. Use with caution.
            </div>
            <div class="catalog">
              <catalog-image
                  image-repo="image.imageRepo"
                  image-tag="image.imageRepoTag"
                  project="projectName"
                  version="image.version"
                  ng-repeat="image in nonBuilderImages | orderBy : ['name', 'imageRepo.metadata.namespace']">
              </catalog-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
